.text-box {
    width: 220px; /* Adjust width as needed */
    height: 80px; /* Adjust height as needed */
    padding: 20px;
    background-color: #000000; /* Black background */
    border: 5px solid rgb(182, 182, 86); /* Yellow border */
    border-radius: 40px; /* Rounded corners */
    color: white; /* White text color */
    text-align: center;
    animation: fade-border 2s infinite; /* Animation */
    display: flex; /* Use Flexbox */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    box-shadow: 0 0 6px rgb(182, 182, 86), 0 0 10px rgb(182, 182, 86), 0 0 15px rgb(182, 182, 86), 0 0 20px rgb(182, 182, 86); /* Reduced spread shadow */
  }

@keyframes fade-border {
    0%, 100% {
        border-color: rgb(182, 182, 86); /* Yellow border color */
        box-shadow: 0 0 6px rgb(182, 182, 86), 0 0 10px rgb(182, 182, 86), 0 0 15px rgb(182, 182, 86), 0 0 20px rgb(182, 182, 86); /* Matching shadow color */
    }
    50% {
        border-color: #414F38; /* Dark green border color */
        box-shadow: 0 0 6px rgba(255, 255, 0, 0), 0 0 10px rgba(255, 255, 0, 0), 0 0 15px rgba(255, 255, 0, 0), 0 0 20px rgba(255, 255, 0, 0); /* Matching shadow color */
    }
}

@media (max-width: 500px) {
    .text-box {
      width: 100%; /* Full width on mobile screens */
      height: auto; /* Adjust height if needed */
      box-sizing: border-box; /* Ensure padding and border are included in the width */
    }
  }
