.event-card {
    width: 100%;
    /* max-width: 300px; Adjust width as needed */
    margin: 0 auto;
  }
  
  .slider-container {
    position: relative;
    height: 0; 
    padding-top: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .slide {
    width: 100%;
    flex: 0 0 auto;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  