@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.contacts {
  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    margin-top: 0;
    
  }

  .lr {
    height: max-content;
    background: #5ea13c;
    display: flex;
    justify-content: center;
    align-items: stretch;

    .left {
      background-color: white;
      flex-grow: 2;
      padding-left: 80px;
      padding-right: 80px;
      padding-bottom: 80px;
      padding-top: 30px;
      align-items: start;
      height: 100%;
      animation: slideInFromLeft 0.5s ease-in-out;


      .heading {
        font-size: xx-large;
        font-weight: bold;
        margin-bottom: 30px;
        margin-top: 30px;
      }

      .left_inputs {
        display: flex;
        flex-direction: column;

        .one {
          padding-bottom: 50px;
          display: flex;
          gap: 20px;
          width: 100%;
          animation: slideInFromLeft 0.5s ease-in-out;

          .input-wrapper {
            flex-grow: 1;

            .input {
              width: 100%;
              animation: slideInFromLeft 0.5s ease-in-out;
            }
          }
        }


        .button-wrapper {
          display: flex;
          justify-content: flex-end;
          margin-top: 30px;
          animation: slideInFromLeft 0.5s ease-in-out;

          .button {
            background-color: #5ea13c;
            color: rgb(44, 44, 44);

            &:hover {
              background-color: #f4fced;
              color: black;
            }
          }
        }
      }
    }

    .right {
      align-self: center;
      width: 30%;
      height: 100%;
      box-sizing: border-box;
      padding: 0 100px;
      animation: slideInFromRight 0.5s ease-in-out;
      .details {
        margin-bottom: 30px;

        .detailsTitle {
          display: flex;
          gap: 20px;
          align-items: center;
          margin-bottom: 2px;

          .detitle {
            font-size: large;
          }

          .icon {
            transition: all 0.3s ease-in-out;

            &:hover {
              transform: scale(1.3);
              color: #f4fced;
              cursor: pointer;
            }
          }
        }

        .detailsDescription {
          margin-left: 50px;
          color: black;
        }
      }
    }
  }
}
