body {
  margin: 0;
  padding: 0;
  background-color: #f4fced; 
  animation: backgroundAnimation 15s ease infinite;
}

@keyframes backgroundAnimation {
  0% { background-color: #f4fced; }
  50% { background-color: #e0f7fa; }
  100% { background-color: #f4fced; }
}

.page-container {
  font-weight: 900;
  width: 100%;
  padding: 20px;
  background-color: #f4fced; 
  animation: fadeIn 2s ease;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.events-title {
  text-align: center;
  font-size: 3.5rem;
  color: #414F38;
  margin: 0;
  animation: slideInDown 1s ease;
}

@keyframes slideInDown {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  padding: 10px;
  max-width: 1200px; 
  width: 100%; 
  justify-content: center; 
}

.loading-image {
  text-align: center;
  font-size: 1.5rem;
  color: #414F38;
}

@media (max-width: 768px) {
  .events-title {
    font-size: 2.5rem;
  }
}
